.rocaNpd {
  overflow: hidden;
  padding: 1em;
  color: var(--roca-color-text-primary);
  background-color: var(--roca-color-bg-page);
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: var(--roca-color-text-link);

    &:hover {
      text-decoration: underline;
      color: var(--roca-color-text-link-hover);
    }
  }
}
